.bio .sidebar {
  --sidebar-vertical-alignment: flex-start;
  --sidebar-target-width: 22rem;
  gap: var(--space-m-l) var(--space-s);
}

.bio img {
  flex-shrink: 1;
  width: min(100%, 39rem);
  width: clamp(100%, 50%, 39rem);
  clip-path: polygon(1% 1%, 98% 0, 100% 100%, 6% 100%);
}
