.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3 {
  font-size: var(--size-step-2);
}

.blog img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
}

.blog time {
  font-weight: 700;
  display: block;
}

.blog time::first-letter {
  text-transform: capitalize;
}

.blog .card.card:nth-child(3n + 1) {
  --color: var(--color-secondary);
  --bg-color: var(--color-dark);
}
.blog .card:nth-child(3n + 2) {
  --color: var(--color-dark);
  --bg-color: var(--color-secondary);
  --hover-color: var(--color-dark);
}

.blog .card:nth-child(3) {
  --color: var(--color-light);
  --bg-color: var(--color-primary);
  --hover-color: var(--color-dark);
}

.blog {
  counter-reset: section;
}

@media screen and (min-width: 70em) {
  .blog-grid {
    transform: rotate(-1deg) translateX(1.2rem);
    padding-block-start: 2em;
  }
}

.blog-grid h2 {
  font-size: var(--size-step-5);
}

.blog-grid h3 {
  font-size: var(--size-step-3);
}

.blog .card::before {
  counter-increment: section; /* Increment the value of section counter by 1 */
  content: '' counter(section) ''; /* Display counter value in default style (decimal) */
  position: absolute;
  right: var(--space-xs);
  top: -5%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-color);
  inline-size: 3ch;
  display: grid;
  place-content: center;
  font-size: var(--size-step-1);
  font-weight: 800;
}
