button,
.button {
  --_color: var(--color, var(--color-wine));
  --_bgcolor: var(--bgcolor, var(--color-wine-alpha));
  border: 0.1em solid var(--_color);
  background: var(--_bgcolor);
  color: var(--_color);
  padding: var(--space-xs) var(--space-l-xl);
  border-radius: var(--border-radius);
  font-size: var(--font-step-1);
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
  text-decoration: none;
}

button:where(:hover, :focus),
.button:where(:hover, :focus) {
  --color: var(--color-pink);
  --bgcolor: var(--color-wine);
}
