.card {
  --_color: var(--color, var(--color-wine));
  --_bg-color: var(--bg-color, var(--color-cream));
  --_selection-color: var(--selection-color, var(--color-wine));
  --_selection-bg-color: var(--selection-bg-color, var(--color-cream));
  --_hover-color: var(--hover-color, var(--color-white));
  --_icon-size-step-0: 32px;
  --_icon-size-step-1: 56px;
  --_icon-size-step-2: 152px;
  --_icon-size: var(--_icon-size-step-0);

  background-color: var(--_bg-color);
  border: 1px solid var(--_bg-color);

  color: var(--_color);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  max-width: unset;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card ::selection {
  color: var(--_selection-color);
  background-color: var(--_selection-bg-color);
}

.card:hover,
.card:focus-within {
  border: 1px solid var(--_hover-color);
  --bg-color: var(--color-white);
}

.card h2 {
  font-size: var(--size-step-3);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card a {
  text-decoration: none;
}

/* sizes */
.card.size-0 svg {
  --_icon-size: var(--_icon-size-step-0);
}

.card.size-1 svg {
  --_icon-size: var(--_icon-size-step-1);
}

.card.size-2 svg {
  --_icon-size: var(--_icon-size-step-2);
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.icon {
  display: grid;
  place-items: center;
}

.icon svg {
  flex: none;
  height: 100%;
  width: var(--_icon-size);
}

.card p {
  font-size: var(--size-step-minus-1);
}

.card span,
.card p {
  font-weight: 500;
}

.group {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  justify-content: space-between;
}

.select {
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
}

.card:hover .select,
.card:focus-within .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%; /* hacky :( */
  clip: auto;
  height: auto;
  overflow: visible;
}

.select .group {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
}

.select button {
  --color: var(--color-cream);
  --bgcolor: var(--color-wine);
  display: inline-grid;
  place-items: center;
  padding: 0;
  border-radius: 50%;
  inline-size: 4ch;
  aspect-ratio: 1;
}

.select button:where(:hover, :focus) {
  --color: var(--color-wine);
  --bgcolor: var(--color-cream);
}

.select button.card {
  border: none;
}
