.card {
  --_color: var(--color, var(--color-light));
  --_bg-color: var(--bg-color, var(--color-dark));
  --_selection-color: var(--selection-color, var(--color-dark));
  --_selection-bg-color: var(--selection-bg-color, var(--color-secondary));
  --_hover-color: var(--hover-color, var(--color-primary));
  background-color: var(--_bg-color);
  border: 4px solid var(--_bg-color);
  color: var(--_color);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-width: unset;
}

.card ::selection {
  color: var(--_selection-color);
  background-color: var(--_selection-bg-color);
}

.card:hover,
.card:focus-within {
  border: 4px solid var(--_hover-color);
}

.card h2 {
  font-size: var(--size-step-3);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card a {
  text-decoration: none;
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
