.contact .sidebar {
  --sidebar-vertical-alignment: flex-start;
  --sidebar-target-width: 9rem;
  --sidebar-content-min-width: 55%;
  gap: 0 var(--space-s);
}

.contact .sidebar + .sidebar {
  margin-top: var(--space-s-m);
}

.contact :where(input, textarea) {
  border: 2px solid var(--color-dark);
  border-radius: var(--border-radius);
  padding: var(--space-xs) var(--space-m);
}
