.release-elem .sidebar {
  --sidebar-vertical-alignment: flex-start;
  --sidebar-target-width: 23rem;
  --sidebar-content-min-width: 30%;
  gap: var(--space-m-l) var(--space-s);
}

.release-elem + .release-elem:nth-child(2n) .sidebar {
  flex-direction: row-reverse;
  background: var(--color-light-glare);
}

.release-elem + .release-elem:nth-child(2n) .sidebar div {
  padding: var(--space-xs);
}

.release-elem + .release-elem {
  margin-top: var(--space-l);
}

@media (min-width: 50em) {
  .release-elem + .release-elem {
    margin-top: var(--space-2xl);
  }
}
