.logo {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  letter-spacing: -0.08rem;
  padding: var(--space-xs) 0;
}

@media screen and (min-width: 85rem) {
  .logo {
    margin-inline-start: clamp(8.84rem, calc(50.56rem + -31.37vw), 28rem);
  }
}
