.site-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-head__inner {
  display: none;
}

@media (min-width: 85rem) {
  .site-head__inner {
    display: flex;
    gap: var(--space-xs);
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 0;
  }

  .site-head svg {
    height: 1em;
    width: 1em;
  }
}
