/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 * Info: https://piccalil.li/quick-tip/use-css-clamp-to-create-a-more-flexible-wrapper-utility/
 */
.wrapper {
  max-width: var(--wrapper-max-width, 90rem);
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: var(--custom-gutter, var(--gutter));
  padding-inline-end: var(--custom-gutter, var(--gutter));
  /* position: relative; */
}

.wrapper-sm {
  max-width: 50rem;
  margin-inline: auto;
}
