---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import Cardx from "../components/Cardx.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="RedRadix Icon Library">
  <a href="#main" class="skip-link">skip</a>

  <main>
    <div class="wrapper">
      <header class="sidebar region innerspace">
        <h1 style="--sidebar-target-width: 33rem;">RedRadix</h1>
        <p>
          En nuestra galería de iconografía e ilustraciones responsive,
          encontrarás imágenes optimizadas para adaptarse a cualquier
          dispositivo y tamaño de pantalla.
        </p>
      </header>
    </div>

    <section class="iconcontainer matched-radius">
      <div
        class="wrapper grid"
        style="gap: var(--matched-radius-inner-size); --custom-gutter: 0"
      >
        <Icon />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
        <Cardx />
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  header p {
    font-size: var(--size-step-2);
  }

  section {
    border: 1px solid var(--color-wine-alpha);
  }
</style>
