---
import Example from "./components/svg/example.svg";
---

<article class="matched-radius__inner card flow">
  <div class="icon"><Example /></div>
  sadfsadf
</article>

<!-- <li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li> -->
