.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.stack > * + * {
  margin-block-start: var(--space-s, 1.5rem);
}

.stack > :nth-child(2) {
  margin-block-end: auto;
}
