---
import { Icon } from "astro-icon"
---

<footer>
  <div class="wrapper region">
    <div class="innerspace">
      <div class="translate">
        <a class="totop bounce" href="#"> <Icon name="totop" /></a>
      </div>

      <div class="sidebar">
        <h2>Digital wisdom for the now</h2>

        <div class="stack">
          <a
            class="button"
            href="https://www.figma.com/file/h2GvBtNspAW6YzNvFo2oJb/"
            target="_blank"
            rel="noopener noreferrer">Figma library</a
          >
          <a
            class="button"
            href="https://www.figma.com/file/amM69BIfXj1auCMCCgylPr"
            target="_blank"
            rel="noopener noreferrer">Design system</a
          >
          <a
            class="button"
            href="https://redradix.com/"
            target="_blank"
            rel="noopener noreferrer">RedRadix Website</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="wrapper">
      <div class="innerspace cluster">
        <span class="with-icon">
          <Icon name="logo-s" /> RedRadix S.L. Copyright 2023</span
        >
        <ul class="cluster">
          <a href="">Privacy</a>
          <a href="">Legal</a>
          <a href="">Cookies</a>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-pink);
    background-image: url(/public/asterisk.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .copyright {
    border-top: 1px solid var(--color-wine-alpha);
  }

  .sidebar {
    --sidebar-vertical-alignment: flex-end;
    --sidebar-content-min-width: 25%;
    --sidebar-target-width: 40rem;
  }

  .cluster {
    --space: var(--space-m-l);
  }

  .translate {
    transform: translateY(-40%);
  }

  .totop svg {
    flex: none;
    height: 3ex;
    width: auto;
  }

  a.totop {
    --_color: var(--color, var(--color-wine));
    --_bgcolor: var(--bgcolor, var(--color-wine-alpha));
    aspect-ratio: 1;
    background-color: var(--_bgcolor);
    border: 1px solid var(--_color);
    color: var(--_color);
    border-radius: 50%;
    inline-size: 6ch;
    cursor: pointer;
    display: inline-grid;
    place-items: center;
    position: relative;
    text-decoration: none;
  }

  a.totop:hover {
    --color: var(--color-pink);
    --bgcolor: var(--color-wine);
  }
</style>
