---
import "/public/css/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>

    <!-- preload fonts -->
    <link
      rel="preload"
      href="/fonts/degular/Degular_Display-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/fonts/generalsans/GeneralSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta property="og:image" content="/opengraph.png" />
    <meta
      name="description"
      content="Dive into our awesome open source icon library! Perfect for spicing up your projects and presentations with a fun, unique touch. Grab your free icons now!"
    />

    <meta name="generator" content={Astro.generator} />

    <meta name="theme-color" content="#FBF2ED" />
  </head>
  <body class="relative">
    <slot />
  </body>
</html>
